body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header {
    display: flex;
    background: rgba(179, 3, 3, 0.911);
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(179, 3, 3, 0.911);
    padding: 20px;
    display: flex;
    background: rgba(179, 3, 3, 0.911);
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 8px;
    background: rgba(255, 235, 235, 0.301);
}

h1 { 
    text-align: center;
    margin-top: auto;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex>div {
    flex: 200px;
    margin: 10px 10px;
}


body {
    background-image: url(imagem.png);
   background-repeat: no-repeat;
   background-size: cover;


}

